<nav>
  <ul>
    <li><%= link_to '首頁', root_path %></li>
    <li><%= link_to '看板標題', boards_path %></li>
  </ul>
  <ul>
    <% if current_user %>
    <li><%= current_user.nickname %></li>   <!-- 不要在view直接撈資料 -->
    <li><%= link_to '編輯個人資料', edit_users_path %></li>
    <li><%= link_to '登出', sign_out_users_path, method: 'delete' %></li>
    <% else %>
    <li><%= link_to '註冊', sign_up_users_path %></li>
    <li><%= link_to '登入', sign_in_users_path %></li>
  </ul>
  <% end %>
</nav>