<!DOCTYPE html>
<html>
  <head>
    <title>ZCard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to '首頁', root_path %></li>
        <li><%= link_to '看板標題', boards_path %></li>
      </ul>
      <ul>
        <li><%= link_to '註冊', users_sign_up_path %></li>
        <li><%= link_to '登入', session_path %></li>
      </ul>
    </nav>

    <%= notice %>
    <%= yield %>
  </body>
</html>
